header{
    min-height: 200px;
    display: block flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: #4FA994;
}

section{
    min-height: 500px;
    display: block flex;
    flex-direction: column;
    align-items: center;
}

form{
    min-height: 500px;
    display: block flex;
    flex-direction: column;
    align-items: center;
}

.img-logo{
    width: 312.5px;
    height: 200px;
}

h2, h1 {
    background-color: #21B221;
    border: solid 4px goldenrod;
    border-radius: 10px;
    /*opacity: 0.5;*/
}

.movementContainerID {
    min-height: 50px;
    display: block flex;
    flex-direction: column;
    align-items: center;
}